apiVersion: v1
kind: Pod
metadata:
  name: haproxy-lb
  namespace: kube-system
  labels:
    app: haproxy-lb
spec:
  containers:
  - name: haproxy
    image: haproxy:2.6-alpine
    ports:
    - containerPort: 6443
      hostPort: 6443
    volumeMounts:
    - name: conf
      mountPath: /usr/local/etc/haproxy/haproxy.cfg
      subPath: haproxy.cfg
  volumes:
  - name: conf
    hostPath:
      path: /etc/kubernetes/manifests/haproxy.cfg
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: haproxy-lb-config
  namespace: kube-system
data:
  haproxy.cfg: |
    global
        daemon
    defaults
        mode tcp
        timeout connect 10s
        timeout client 10s
        timeout server 10s
    frontend kube_frontend
        bind 127.0.0.1:6443
        default_backend kube_backend
    backend kube_backend
{{- range .BackendServers }}
        server {{ .Name }} {{ .Host }}:{{ .Port }} check
{{- end }}
